[class^="btn-"] {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  transition: all 0.2s;
  text-decoration-color: transparent !important;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 18px;
  line-height: normal;
  height: 60px;
  @include media-breakpoint-down(lg) {
    font-size: 16px;
    height: 52px;
  }
}

.btn-dark {
  background: var(--color-primary);
  color: var(--color-light);
  &:hover {
    box-shadow: 0 0 15px 5px #00000080;
  }
}
.btn-light {
  color: var(--color-primary);
  box-shadow: 0px 0px 23.8px 0px #ffffff59;
  background: var(--color-light);
  &:hover {
    box-shadow: 0 0 15px 5px #ffffff80;
  }
}
.btn-outline {
  color: var(--color-light);
  border: 2px solid var(--color-light);
  text-shadow: 0px 0px 19.9px #ffffffb2;
  background: linear-gradient(104.6deg, #191919 0%, #0c0c0c 100%);
  &:hover {
    box-shadow: 0 0 15px 5px #ffffff80;
  }
}
