.serviceCard {
  padding: 36px 32px 20px 32px;
  display: block;
  border-radius: 10px;
  position: relative;
  height: 100%;
  border: 1px solid rgba(#999999, 0.8);
  min-height: 200px;

  &__icon {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0px 0px 20px 0px #ffffff5e;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-light);
    font-size: 40px;
    font-weight: 700;
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: inherit;
      padding: 1px;
      background: var(--border-gradients);
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      pointer-events: none;
      z-index: 1;
    }
    img {
      width: 60px;
      height: 60px;
      object-fit: contain;
    }
  }
  ul {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    > li {
      position: relative;
      padding-left: 24px;
      &::before {
        content: "";
        background-color: var(--color-light);
        position: absolute;
        top: 10px;
        left: 6px;
        width: 6px;
        border-radius: 50px;
        height: 6px;
      }
      > ul {
        > li {
          &::before {
            border-radius: 50%;
          }
        }
      }
    }
  }
}
.ico-arrowCard {
  width: 50px;
  height: 19px;
  object-fit: contain;
  @include media-breakpoint-down(lg) {
    width: 40px;
    height: 16px;
  }
}
.services-section {
  &__row {
    display: flex;
    justify-content: space-between;

    gap: 48px;
    @include media-breakpoint-down(lg) {
      gap: 32px;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  &__col {
    display: flex;
    flex-direction: column;

    max-width: 700px;
    @include media-breakpoint-up(xxl) {
      gap: 80px 0;
    }
    @include media-breakpoint-up(lg) {
      gap: 48px 0;
    }
    @include media-breakpoint-down(lg) {
      gap: 32px 0;
    }
  }
  .serviceCard {
    height: auto;
  }
}
