.sportsmanCard {
  text-decoration: none;
  &:hover {
    .sportsmanCard__img img {
      transform: scale(1.05);
    }
  }
  &__img {
    width: 100%;
    aspect-ratio: 428/600;
    border-radius: 10px;
    overflow: hidden;
    background: linear-gradient(180deg, #ffffff 0%, #e7e7e7 80%);
    box-shadow: 0px 0px 188.9px 0px #ffffff57;
    padding-top: 64px;
    @include media-breakpoint-down(lg) {
      padding-top: 40px;
      background: linear-gradient(180deg, #e7e7e7 0%, #fff 60%);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s;
      object-position: top;
    }
  }
}
