.h1 {
  // font-size: 110px;
  font-size: clamp(48px, 4vw + 0.5rem, 110px);
  line-height: 110%;
  letter-spacing: 0.07em;
  @include media-breakpoint-down(lg) {
  }
  span {
    display: block;
  }
}
.h2,
.o-content h1 {
  // font-size: 70px;
  line-height: 100%;
  letter-spacing: 0.07em;
  font-weight: 900;
  font-size: clamp(32px, 4vw + 0.5rem, 70px);
}
.h3,
.o-content h2 {
  font-size: 36px;
  line-height: normal;
  letter-spacing: 0.07em;
  font-weight: 900;
}
.h4,
.o-content h3 {
  font-size: 24px;
  line-height: normal;
  letter-spacing: 0.07em;
  font-weight: 900;
}

.title {
  display: flex;
  align-items: center;
  font-weight: 100 !important;
  color: var(--color-light);
  flex-wrap: wrap;
  span {
    font-weight: 900 !important;
    margin-left: 24px;
  }
}

.text-lg-black {
  font-weight: 900;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0.07em;
}
.text-lg-medium {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.07em;
}
.text-md-medium {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.07em;
}
