.h1 {
  font-size: 110px;
  line-height: 110%;
  letter-spacing: 0.07em;
  @include media-breakpoint-down(lg) {
    font-size: 70px;
  }
  span {
    display: block;
  }
}
.h2,
.o-content h1 {
  font-size: 70px;
  line-height: 100%;
  letter-spacing: 0.07em;
  font-weight: 900;
  @include media-breakpoint-down(lg) {
    font-size: 40px;
  }
}
.h3,
.o-content h2 {
  font-size: 36px;
  line-height: normal;
  letter-spacing: 0.07em;
  font-weight: 900;
  @include media-breakpoint-down(lg) {
    font-size: 32px;
  }
}
.h4,
.o-content h3 {
  font-size: 24px;
  line-height: normal;
  letter-spacing: 0.07em;
  font-weight: 900;
}

.text-lg-black {
  font-weight: 900;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0.07em;
  @include media-breakpoint-down(lg) {
    font-size: 20px;
    line-height: 28px;
  }
}
.text-lg-medium {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.07em;
  @include media-breakpoint-down(lg) {
    font-size: 20px;
    line-height: 28px;
  }
}
.text-md-medium {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.07em;
  @include media-breakpoint-down(lg) {
    font-size: 16px;
    line-height: 24px;
  }
}
