.title {
  display: flex;
  align-items: center;
  font-weight: 100 !important;
  color: var(--color-light);
  flex-wrap: wrap;
  span {
    font-weight: 900 !important;
  }
}
.h1.title--dot {
  &::after {
    width: 12px;
    height: 12px;
    @include media-breakpoint-down(lg) {
      width: 8px;
      height: 8px;
    }
  }
}
.h1.title {
  span {
    margin-left: 40px;
    @include media-breakpoint-down(lg) {
      margin-left: 24px;
    }
  }
}
.h2.title {
  span {
    margin-left: 24px;
    @include media-breakpoint-down(lg) {
      margin-left: 12px;
    }
  }
}
.h3.title {
  span {
    margin-left: 16px;
    @include media-breakpoint-down(lg) {
      margin-left: 12px;
    }
  }
}
.h2.title--dot {
  &::after {
    width: 8px;
    height: 8px;
  }
}
.title--dot {
  position: relative;
  align-items: baseline;
  &::after {
    content: "";
    background: linear-gradient(315deg, #9f9f9f 4.17%, #494949 95.83%);

    box-shadow: 0px 0px 19px 0px #0055fb59;
    border: 1px solid var(--color-light);
    margin-left: -4px;
  }
}
