<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="#" class="header__logo">
        <img src="images/content/logo.png" width="132" height="54" alt="logo" />
      </a>
      <nav class="navbar">
        <ul class="navbar__menu">
          <li class="navbar__menu-list">
            <div class="navbar__menu-item">SPORTOVCI</div>
            <ul class="dropdown-menu">
              <li class="dropdown-menu__list">
                <a href="#">Sportovec 1</a>
              </li>
              <li class="dropdown-menu__list">
                <a href="#">Sportovec 2 </a>
              </li>
              <li class="dropdown-menu__list">
                <a href="#">Sportovec 3 </a>
              </li>
              <li class="dropdown-menu__list">
                <a href="#">Sportovec 4 </a>
              </li>
            </ul>
          </li>
          <li class="navbar__menu-list">
            <a href="#" class="navbar__menu-item">SLUŽBY </a>
          </li>
          <li class="navbar__menu-list">
            <a href="#" class="navbar__menu-item">PROJEKTY </a>
          </li>
          <li class="navbar__menu-list">
            <a href="#" class="navbar__menu-item"> PROJEKTY </a>
          </li>
          <li class="navbar__menu-list">
            <a href="#" class="navbar__menu-item"> Kontakt </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
