.header {
  background-color: var(--color-primary);
  padding: 24px 0;
  position: relative;
  @include media-breakpoint-down(lg) {
    padding: 16px 0;
  }
  z-index: 999;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }
  &__logo {
    width: 132px;
    height: 54px;
    display: block;
    @include media-breakpoint-down(lg) {
      width: 120px;
      height: 48px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.navbar {
  @include media-breakpoint-down(lg) {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: all 0.3s ease-out;
    right: 0px;
    z-index: 99999;
    top: 100%;
    width: calc(100% + 16px);
    margin: 0 auto;
    align-items: center;
    padding: 16px 40px 16px;
    flex-direction: column;
    background: var(--bg-gradient);
    left: -8px;
    border-bottom: 4px solid var(--color-light);
    height: calc(100vh - 75px);
    gap: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  @include media-breakpoint-up(md) {
    justify-content: flex-start;
  }
  @include media-breakpoint-down(md) {
    justify-content: center;
  }
}
.navbar__menu {
  display: flex;
  gap: 32px;
  align-items: center;
  @include media-breakpoint-down(lg) {
    flex-direction: column;
    padding-left: 0;
    width: 100%;
    gap: 32px;
    justify-content: center;
    height: 100%;
  }
}
.navbar__menu-item {
  display: block;
  color: var(--color-light);
  font-weight: 900;
  font-size: 16px;
  line-height: 100%;
  position: relative;
  padding: 4px 0;
  transition: all 0.2s;
  text-decoration: none;
  text-transform: uppercase;
  @include media-breakpoint-down(lg) {
    font-size: 20px;
  }
  &:hover {
    text-shadow: 0 0 10px #ffffff80, 0 0 20px #ffffff80, 0 0 30px #ffffff80;
    // text-shadow: 4px 4px 24px #ffffff80;
  }
}
.navbar__menu-list {
  position: relative;
}

.navbar__menu-list.active {
  .dropdown-menu {
    @include media-breakpoint-down(lg) {
      height: 100%;
      display: flex;
      position: static;
    }
  }
}
.navbar__menu-list.active {
  .dropdown-menu {
    transition: all 0.8s;
    display: flex;
    z-index: 28;
  }
}
.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 33;
  width: max-content;
  background-color: transparent;
  top: 100%;
  min-width: 180px;
  padding: 0px 0px 0px;
  box-shadow: 0px 0px 20px 0px rgba(16, 24, 40, 0.05);
  border-radius: 10px;
  flex-direction: column;
  overflow: hidden;
  @include media-breakpoint-down(lg) {
    width: 100%;
    padding-bottom: 0;
    box-shadow: none;
    background-color: var(--color-dark-purple);
    gap: 2rem;
  }
  &__list {
    width: 100%;
    text-align: left;
    position: relative;
    display: block;
    &:first-child a {
      padding-top: 16px;
    }
    &:last-child a {
      padding-bottom: 16px;
    }
    a {
      display: block;
      width: 100%;
      padding: 0;
      text-decoration-color: transparent;
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
      color: var(--color-primary);
      background-color: var(--color-light);
      padding: 4px 24px;
      @include media-breakpoint-down(lg) {
        width: 100%;
        text-align: center;
        padding: 6px 0;
        color: var(--color-light);
        height: auto;
        background-color: transparent;
        font-size: 24px;
        line-height: 100%;
        padding: 0;
      }
      &:hover {
        text-decoration-color: inherit;
        @include media-breakpoint-down(lg) {
          color: var(--color-light);
        }
      }
    }
  }
}
.is-nav-open .header .navbar {
  visibility: visible;
  opacity: 1;
}
