.photogallery {
  position: relative;
  z-index: 2;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    height: 1px;
    width: 100%;

    background: linear-gradient(270deg, #dedede 0%, #ffffff 50%, #0c0c0c 100%);
  }
  .projectCard__img {
    aspect-ratio: 428/428;
  }
}
