<div class="photogallery bg-gradient pb-lg-20 pb-12">
  <div class="container">
    <h2
      class="h3 title text-white justify-content-center pt-8 text-uppercase mb-10"
    >
      FOTOGALERIE
    </h2>
    <div class="row g-xxl-20 g-10">
      <div class="col-xl-4 col-md-6">
        <a
          data-source="/spartaAgency/build/ajax-gallery.json"
          data-gallery-id="1"
          href="#"
          class="projectCard"
        >
          <div class="projectCard__img">
            <img
              srcset="
                https://picsum.photos/856/856 856w,
                https://picsum.photos/428/428 428w
              "
              alt="project"
              width="428"
              height="428"
              loading="lazy"
            />
          </div>
          <div
            class="d-flex gap-3 align-items-center justify-content-between mt-4"
          >
            <div class="text-lg-black text-white">Livesport Prague Open</div>
            <img
              src="images/ico/arrow-link-white.svg"
              class="ico-arrowCard"
              alt="arrow"
            />
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-md-6">
        <a
          data-source="/spartaAgency/build/ajax-gallery.json"
          data-gallery-id="2"
          href="#"
          class="projectCard"
        >
          <div class="projectCard__img">
            <img
              srcset="
                https://picsum.photos/856/856 856w,
                https://picsum.photos/428/428 428w
              "
              alt="project"
              width="428"
              height="428"
              loading="lazy"
            />
          </div>
          <div
            class="d-flex gap-3 align-items-center justify-content-between mt-4"
          >
            <div class="text-lg-black text-white">Livesport Prague Open</div>
            <img
              src="images/ico/arrow-link-white.svg"
              class="ico-arrowCard"
              alt="arrow"
            />
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-md-6">
        <a
          data-source="/spartaAgency/build/ajax-gallery.json"
          data-gallery-id="3"
          href="#"
          class="projectCard"
        >
          <div class="projectCard__img">
            <img
              srcset="
                https://picsum.photos/856/856 856w,
                https://picsum.photos/428/428 428w
              "
              alt="project"
              width="428"
              height="428"
              loading="lazy"
            />
          </div>
          <div
            class="d-flex gap-3 align-items-center justify-content-between mt-4"
          >
            <div class="text-lg-black text-white">
              Livesport Prague Open Prague Open
            </div>
            <img
              src="images/ico/arrow-link-white.svg"
              class="ico-arrowCard"
              alt="arrow"
            />
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-md-6">
        <a
          data-source="/spartaAgency/build/ajax-gallery.json"
          data-gallery-id="4"
          href="#"
          class="projectCard"
        >
          <div class="projectCard__img">
            <img
              srcset="
                https://picsum.photos/856/856 856w,
                https://picsum.photos/428/428 428w
              "
              alt="project"
              width="428"
              height="428"
              loading="lazy"
            />
          </div>
          <div
            class="d-flex gap-3 align-items-center justify-content-between mt-4"
          >
            <div class="text-lg-black text-white">
              Livesport Prague Open Prague Open
            </div>
            <img
              src="images/ico/arrow-link-white.svg"
              class="ico-arrowCard"
              alt="arrow"
            />
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-md-6">
        <a
          data-source="/spartaAgency/build/ajax-gallery.json"
          data-gallery-id="5"
          href="#"
          class="projectCard"
        >
          <div class="projectCard__img">
            <img
              srcset="
                https://picsum.photos/856/856 856w,
                https://picsum.photos/428/428 428w
              "
              alt="project"
              width="428"
              height="428"
              loading="lazy"
            />
          </div>
          <div
            class="d-flex gap-3 align-items-center justify-content-between mt-4"
          >
            <div class="text-lg-black text-white">
              Livesport Prague Open Prague Open
            </div>
            <img
              src="images/ico/arrow-link-white.svg"
              class="ico-arrowCard"
              alt="arrow"
            />
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
