<section class="hp-projects py-lg-20 py-12">
  <div class="container">
    <h4 class="h2 title text-black mb-lg-15 mb-10">
      NAŠE <span>PROJEKTY</span>
    </h4>
    <div class="row g-xxl-20 g-10">
      <div class="col-lg-4">
        <a href="#" class="projectCard">
          <div class="projectCard__img">
            <img
              srcset="
                https://picsum.photos/856/1064 856w,
                https://picsum.photos/428/532  428w
              "
              alt="project"
              width="428"
              height="532"
              loading="lazy"
            />
          </div>
          <div
            class="d-flex gap-3 align-items-center justify-content-between mt-4"
          >
            <div class="text-lg-black text-black">Livesport Prague Open</div>
            <img
              src="images/ico/arrow-link.svg"
              class="ico-arrowCard"
              alt="arrow"
            />
          </div>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="#" class="projectCard">
          <div class="projectCard__img">
            <img
              srcset="
                https://picsum.photos/856/1064 856w,
                https://picsum.photos/428/532  428w
              "
              alt="project"
              width="428"
              height="532"
              loading="lazy"
            />
          </div>
          <div
            class="d-flex gap-3 align-items-center justify-content-between mt-4"
          >
            <div class="text-lg-black text-black">Livesport Prague Open</div>
            <img
              src="images/ico/arrow-link.svg"
              class="ico-arrowCard"
              alt="arrow"
            />
          </div>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="#" class="projectCard">
          <div class="projectCard__img">
            <img
              srcset="
                https://picsum.photos/856/1064 856w,
                https://picsum.photos/428/532  428w
              "
              alt="project"
              width="428"
              height="532"
              loading="lazy"
            />
          </div>
          <div
            class="d-flex gap-3 align-items-center justify-content-between mt-4"
          >
            <div class="text-lg-black text-black">
              Livesport Prague Open Prague Open
            </div>
            <img
              src="images/ico/arrow-link.svg"
              class="ico-arrowCard"
              alt="arrow"
            />
          </div>
        </a>
      </div>
    </div>

    <div class="text-center mt-9">
      <a href="#" class="btn-dark"> DALŠÍ SPORTOVCI </a>
    </div>
  </div>
</section>
