<footer class="footer">
   <div class="bg-white">
      <div class="container">
         <div class="text-center text-black">
            PŘIDEJTE SE K NÁM!
            <a href="mailto:sparta@agency.cz" class="mt-4 text-black text-lg-black ">sparta@agency.cz</a>

         </div>
      </div>
   </div>
  <div class="bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <a href="#" class="footer__logo">
            <img src="images/content/logo.png" loading="lazy" alt="logo" />
          </a>
          <div class="text-lg-medium mt-8">
            © Sparta Agency &
            <a href="https://esportsmedia.cz/">eSports.cz s.r.o.</a>
          </div>
        </div>
        <div class="col-lg-4">
          <ul class="text-lg-medium text-center bg-primary text-white">
            <li>Tennis Sparta Agency s.r.o.</li>
            <li>Za Císařským mlýnem 1115/2</li>
            <li>170 00 Praha 7</li>
            <li>IČ: 28898028</li>
            <li>DIČ: CZ28898028</li>
          </ul>
        </div>
        <div class="col-lg-4">
          <div class="d-flex g-2">
            <a href="#" class="footer__social">
              <img
                src="images/ico/instagram.svg"
                loading="lazy"
                alt="instagram"
              />
            </a>
            <a href="#" class="footer__social">
              <img
                src="images/ico/facebook.svg"
                loading="lazy"
                alt="facebook"
              />
            </a>
          </div>
          <a href="mailto:sparta@agency.cz">sparta@agency.cz</a>
        </div>
      </div>
    </div>
  </div>
</footer>
