<section class="detail-project">
  <div class="detail-project__bg bg-gradient">
    <img src="images/content/bg_fotka.png" loading="lazy" alt="bg" />
  </div>
  <div class="container">
    <div class="detail-section__inner">
      <div class="detail-section__content">
        <h1 class="detail-section__title">LIVESPORT PRAGUE OPEN</h1>
        <p class="text-md-medium text-white mt-8">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          ipsum velit, pellentesque eget leo at, accumsan volutpat erat. Nam
          malesuada lectus quis neque iaculis, a dapibus dui rutrum. Ut quis sem
          pellentesque, aliquam lectus eget, tincidunt turpis. Donec faucibus
          ornare magna in luctus. Nulla rutrum mauris et felis laoreet, id
          venenatis nibh suscipit. Vestibulum malesuada diam nec ullamcorper
          scelerisque. Donec erat orci, hendrerit id semper id, facilisis sit
          amet tellus.
        </p>
      </div>
      <div class="detail-section__aside">
        <div class="detail-project__img">
          <img
            srcset="
              https://picsum.photos/856/1064 856w,
              https://picsum.photos/428/532  428w
            "
            alt="project"
            width="428"
            height="532"
            loading="lazy"
          />
        </div>
        <div class="detail-section__logo mt-md-10 mt-6">
          <div class="detail-section__logo-img">
            <img
              src="images/content/hero-logo.png"
              width="17"
              height="27"
              alt="hero-logo"
            />
          </div>
          <div class="detail-section__logo-title">SpartaAgency</div>
        </div>
      </div>
    </div>
  </div>
</section>
