<section class="bg-gradient detail-section">
  <div class="container">
    <div class="detail-section__inner">
      <div class="detail-section__content">
        <h1 class="detail-section__title"><span>PETRA</span> KVITOVÁ</h1>
        <p class="text-md-medium text-white mt-8">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          ipsum velit, pellentesque eget leo at, accumsan volutpat erat. Nam
          malesuada lectus quis neque iaculis, a dapibus dui rutrum. Ut quis sem
          pellentesque, aliquam lectus eget, tincidunt turpis. Donec faucibus
          ornare magna in luctus. Nulla rutrum mauris et felis laoreet, id
          venenatis nibh suscipit. Vestibulum malesuada diam nec ullamcorper
          scelerisque. Donec erat orci, hendrerit id semper id, facilisis sit
          amet tellus.
        </p>
        <div class="detail-section__stats">
          <div class="detail-section__stats-item">
            <div class="detail-section__stats-img">
              <img
                src="images/content/trofej.png"
                width="130"
                height="130"
                alt="trofej"
              />
              <span>6</span>
            </div>
            <div class="text-lg-black text-white">Trofejí</div>
          </div>
          <div class="detail-section__stats-item">
            <div class="detail-section__stats-img">
              <img
                src="images/content/poradi.png"
                width="130"
                height="130"
                alt="trofej"
              />
              <span>2.</span>
            </div>
            <div class="text-lg-black text-white">Top WTA</div>
          </div>
        </div>
      </div>
      <div class="detail-section__aside">
        <div class="detail-sportsman__img">
          <img src="images/content/sportovec-1.png" alt="sportsman" />
        </div>
        <div class="d-flex align-items-center gap-2 mt-5">
          <img
            src="images/ico/cake.svg"
            width="17"
            height="19"
            class="object-fit-contain shadow-text"
            alt="cake"
          />
          <div class="text-lg-light text-white shadow-text">35 let</div>
        </div>
        <div class="detail-section__logo mt-8">
          <div class="detail-section__logo-img">
            <img
              src="images/content/hero-logo.png"
              width="17"
              height="27"
              alt="hero-logo"
            />
          </div>
          <div class="detail-section__logo-title">SpartaAgency</div>
        </div>
      </div>
    </div>
  </div>
</section>
