<section class="bg-gradient pt-lg-20 pt-12 pb-lg-40 pb-12">
  <div class="container">
    <h2 class="h2 title text-white mb-lg-15 mb-10">NAŠE <span>SLUŽBY</span></h2>
    <div class="row gx-xl-20 gx-md-10 gx-8 gy-md-10 gy-8">
      <div class="col-lg-4 col-sm-6">
        <div class="serviceCard">
          <div class="serviceCard__icon">
            <img
              src="images/ico/megaphone.svg"
              loading="lazy"
              alt="marketing"
            />
          </div>
          <div class="text-lg-medium text-white mt-4 text-center">
            Marketingový servis
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="serviceCard">
          <div class="serviceCard__icon">
            <img src="images/ico/medical.svg" loading="lazy" alt="zdravotni" />
          </div>
          <div class="text-lg-medium text-white mt-4 text-center">
            Zdravotní zabezpečení
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="serviceCard">
          <div class="serviceCard__icon">
            <img src="images/ico/thumbs-up.svg" loading="lazy" alt="pr" />
          </div>
          <div class="text-lg-medium text-white mt-4 text-center">
            PR služby a správa <br />
            sociálních sítí
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="serviceCard">
          <div class="serviceCard__icon">§</div>
          <div class="text-lg-medium text-white mt-4 text-center">
            Právní služby
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="serviceCard">
          <div class="serviceCard__icon">
            <img src="images/ico/coins.svg" loading="lazy" alt="finance" />
          </div>
          <div class="text-lg-medium text-white mt-4 text-center">
            Finanční poradenství
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="serviceCard">
          <div class="serviceCard__icon">
            <img
              src="images/ico/layer-group.svg"
              loading="lazy"
              alt="ostatni"
            />
          </div>
          <div class="text-lg-medium text-white mt-4 text-center">
            Ostatní služby
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
