{% extends "@components/base/base.twig" %} {% set title = "02.0_services" %} {%
block main %}

<section class="bg-gradient py-20 services-section">
  <div class="container">
    <h1 class="h2 title text-white mb-17">NAŠE <span>SLUŽBY</span></h1>

    <div class="services-section__row">
      <div class="services-section__col">
        <div class="serviceCard">
          <div class="serviceCard__icon">
            <img
              src="images/ico/megaphone.svg"
              loading="lazy"
              alt="marketing"
            />
          </div>
          <h3 class="h3 text-white mt-4 text-center">Marketingový servis</h3>
          <ul class="text-md-medium text-white mt-8">
            <li>
              Zprostředkování účinkování v reklamních a propagačních kampaních
              klienta
            </li>
            <li>
              Zajištění účasti na společenských nebo firemních akcích
              (konference, prezentace nových výrobků a služeb, výstavy a
              veletrhy)
            </li>
            <li>Získávaní nových partnerů</li>
            <li>Spolupráce se zahraničníma agenturami</li>
          </ul>
        </div>
        <div class="serviceCard">
          <div class="serviceCard__icon">
            <img src="images/ico/thumbs-up.svg" loading="lazy" alt="pr" />
          </div>
          <h3 class="h3 text-white mt-4 text-center">
            PR služby a správa sociálních sítí
          </h3>
          <ul class="text-md-medium text-white mt-8">
            <li>Uspořádání tiskových konferencí</li>
            <li>Vyjednání mediálního partnerství</li>
            <li>Zajištění PR tréninku</li>
            <li>Sjednání vystoupení na televizní obrazovce</li>
            <li>Monitoring médií</li>
          </ul>
        </div>
        <div class="serviceCard">
          <div class="serviceCard__icon">
            <img src="images/ico/coins.svg" loading="lazy" alt="finance" />
          </div>
          <h3 class="h3 text-white mt-4 text-center">Finanční poradenství</h3>
          <ul class="text-md-medium text-white mt-8">
            <li>Zajištění finančního plánování</li>
            <li>Zajištění privátního bankovnictví</li>
            <li>Správa finančního majetku</li>
            <li>Zprostředkování finančních produktů</li>
            <li>Daňové poradenství</li>
            <li>Vedení účetnictví</li>
          </ul>
        </div>
      </div>
      <div class="services-section__col">
        <div class="serviceCard">
          <div class="serviceCard__icon">
            <img src="images/ico/medical.svg" loading="lazy" alt="zdravotni" />
          </div>
          <h3 class="h3 text-white mt-4 text-center">Zdravotní zabezpečení</h3>
          <ul class="text-md-medium text-white mt-8">
            <li>Zajištění komplexní lékařské péče</li>
          </ul>
        </div>
        <div class="serviceCard">
          <div class="serviceCard__icon">§</div>
          <h3 class="h3 text-white mt-4 text-center">Právní služby</h3>
          <ul class="text-md-medium text-white mt-8">
            <li>
              Poskytování právních služeb v občansko-právních věcech včetně
              právního zastoupení před soudy
            </li>
            <li>Poskytování právních služeb v trestně právních věcech</li>
            <li>
              Poskytování právního servisu v obchodně právních věcech včetně
              založení obchodních společností
            </li>
            <li>
              Právní poradenství ve věcech upravených právními předpisy v
              oblasti sportu a sportovních činností
            </li>
          </ul>
        </div>
        <div class="serviceCard">
          <div class="serviceCard__icon">
            <img
              src="images/ico/layer-group.svg"
              loading="lazy"
              alt="ostatni"
            />
          </div>
          <h3 class="h3 text-white mt-4 text-center">Ostatní služby</h3>
          <ul class="text-md-medium text-white mt-8">
            <li>Zajištění autogramiád</li>
            <li>Zajištění účasti na charitativních akcích</li>
            <li>Zajištění výuky jazyků</li>
            <li>Zajištění sportovního vybavení</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "@components/joinUs-section/joinUs-section.twig" %} {% endblock %}
