{% extends "@components/base/base.twig" %} {% set title = "03.0_sportsmans" %}
{% block main %}

<section class="bg-gradient py-lg-20 py-12">
  <div class="container">
    <h1 class="h2 title title--dot text-white mb-lg-17 mb-10">
      NAŠE <span> SPORTOVCI</span>
    </h1>

    <div class="row gx-xxl-20 gx-10 gy-xxl-18 gy-md-14 gy-10">
      {% for i in 1..3 %}
      <div class="col-xl-4 col-md-6">
        <a href="#" class="sportsmanCard">
          <div class="sportsmanCard__img">
            <img
              src="images/content/sportovec-1.png"
              alt="sportman"
              loading="lazy"
            />
          </div>
          <div
            class="d-flex gap-3 align-items-center justify-content-between mt-4"
          >
            <div class="text-white">
              <div class="text-md-medium">Petra</div>
              <div class="text-lg-black">Kvitová</div>
            </div>
            <img
              src="images/ico/arrow-link-white.svg"
              class="ico-arrowCard"
              alt="arrow"
            />
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-md-6">
        <a href="#" class="sportsmanCard">
          <div class="sportsmanCard__img">
            <img
              src="images/content/sportovec-2.png"
              alt="sportman"
              loading="lazy"
            />
          </div>
          <div
            class="d-flex gap-3 align-items-center justify-content-between mt-4"
          >
            <div class="text-white">
              <div class="text-md-medium">Petra</div>
              <div class="text-lg-black">Kvitová</div>
            </div>
            <img
              src="images/ico/arrow-link-white.svg"
              class="ico-arrowCard"
              alt="arrow"
            />
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-md-6">
        <a href="#" class="sportsmanCard">
          <div class="sportsmanCard__img">
            <img
              src="images/content/sportovec-3.png"
              alt="sportman"
              loading="lazy"
            />
          </div>
          <div
            class="d-flex gap-3 align-items-center justify-content-between mt-4"
          >
            <div class="text-white">
              <div class="text-md-medium">Petra</div>
              <div class="text-lg-black">Kvitová</div>
            </div>
            <img
              src="images/ico/arrow-link-white.svg"
              class="ico-arrowCard"
              alt="arrow"
            />
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% include "@components/joinUs-section/joinUs-section.twig" %} {% endblock %}
