<section class="hero-section bg-gradient">
  <div class="container">
    <div class="hero-section__inner">
      <div class="hero-logo">
        <div class="hero-logo__img">
          <img
            src="images/content/hero-logo.png"
            width="17"
            height="27"
            alt="hero-logo"
          />
        </div>
        <div class="hero-logo__title">SpartaAgency</div>
      </div>
      <div class="hero-section__content">
        <h1 class="h1 title">ŠTÍT <span>VÍTĚZŮ</span></h1>
        <p class="mb-7 text-lg-medium text-white mt-6">
          My se staráme, vy vítězíte!
        </p>
        <div class="d-flex gap-4 justify-content-center flex-wrap">
          <a href="#" class="btn-light"> CHCI SE PŘIDAT </a>
          <a href="#" class="btn-outline">NAŠE SLUŽBY</a>
        </div>
      </div>
    </div>
  </div>
</section>
