.hero-section {
  &__inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    height: calc(100vh - 100px);
  }
  &__content {
    text-align: center;
    .title {
      text-shadow: 0px 0px 19px #ffffff59;
      justify-content: center;
    }
  }
}
.hero-logo {
  position: absolute;
  top: 48px;
  color: var(--color-light);
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  &__img {
    width: 17px;
    height: 27px;
    margin: 0 auto 4px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__title {
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 0.25em;
    text-shadow: 0px 0px 3.11px #ffffff;
    font-family: "Inter", sans-serif;
  }
}
